@using BlazorDapperCrud.Data
@page "/addcity"  
@inject NavigationManager NavigationManager  
@inject ICityService CityService  
  
<h2>Create City</h2>  
<hr />  
<EditForm Model="@city" OnValidSubmit="@CreateCity">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input for="Name" class="form-control" @bind="@city.Name" />
            </div>
            <div class="form-group">
                <label for="State" class="control-label">State</label>
                <input for="State" class="form-control" @bind="@city.State" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @*<input type="button" class="btn btn-primary" @onclick="@CreateCity" value="Save" />*@
                <input type="submit" class="btn btn-primary" value="Save" />
                <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
 </EditForm>

    @code {

        City city = new City();

        protected async Task CreateCity()
        {
            await CityService.CreateCity(city);
            NavigationManager.NavigateTo("listcities");
        }

        void Cancel()
        {
            NavigationManager.NavigateTo("listcities");
        }
        //void validation() {
        //    Console.WriteLine();
        //}

    }
